@use './variables.scss' as *;

.app-main-container {
	--disabled-input-color: #252525;
	--side-container-padding: 3.2rem;
	
	width: 100%;
	height: 100%;
	background: blue;
	display: grid;
	grid-template-areas: 
		"header       header"
		"debugging    debugging"
		"fretboard    fretboard"
		"controlPanel controlPanel"
	;
	grid-template-rows: auto auto 1fr auto;
	overflow: hidden;
	padding: var(--side-container-padding);
	

	@media ( 480px <= width ) {
		--side-container-padding: 5rem;
	}
	
	@media (width >= $orientation-change) { 
		grid-template-areas: 
			"header       debugging"
			"fretboard    fretboard"
			"controlPanel controlPanel"
		;
		grid-template-rows: auto 1fr min-content;
	}
	@media (width >= 1500px) {
		--side-container-padding: 10vh;
		padding-top: calc(var(--side-container-padding) * .5); 
		padding-bottom: calc(var(--side-container-padding) * .5);
	}
}

.app-title {
	grid-area: header;
	color: var(--primary-highlight-color);
	font-weight: 800;
	text-transform: uppercase;
	&__white {
		color: white;
	}
}
.debugging {
	grid-area: debugging;
	font-size: 1.2rem;
	@media (width <= $orientation-change) {
		display: none;
	}
}



.info-section {
	border: solid .1rem var(--fret-wire-color);
	padding: 2rem;
	margin: 0;
	font-size: 1.2rem;
	&__title {
		color: var(--primary-highlight-color);
		font-size: 2rem;
		width: 100%;
	}
	table {
		border-collapse: collapse;
	}
	tr, td {
		border: solid .1rem gray;
	}
	tr, td, th {
		padding: .5rem 1rem;
	}
	th {
		width: max-content;
	}
	td {
		width: 7rem;
		text-align: center;
		font-weight: 500;
		
	}
	
}
