

.control-panel {
	grid-area: controlPanel; 
	width: 100%;
	font-size: 1.4rem;
	
	// padding: 2rem var(--side-container-padding);

	bottom: 0;
	z-index: 1;
	@media (width >= 600px) {
		display: grid;
		grid-template-areas: 
			"title    title title"
			"scale    key   key"
			"notetype key   key"
			"scheme   key   key"
			;
	}
	@media (width >= 1024px) {
		grid-template-areas: 
			"title title title"
			"scale scale key"
			"notetype scheme key"
			;
	}
	&__title {
		font-weight: bold;
		font-size: 2rem;
		margin-bottom: 2rem;
	}
	&__legend {
		font-weight: 600;
		font-size: 1.1rem;
		.scheme-light {
			color: var(--app-text-color);
		}
	}

	&__fieldset {
		border: none;
		width: 100%;
		// padding: 1rem;
		padding: 0;
		
		display: grid;
		grid-template-columns: repeat(2, max-content);

		.input-group__label {
			font-weight: bold;
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
		}

		.input-group__input[type="radio"] {
			display: none;
		}

		select {
			width: 100%;
			-webkit-appearance: none;
			background: var(--primary-highlight-color, gray);
			color: white;
			padding: .5rem;
			border: none;
			transition: all .25s ease-in-out;
			body.scheme--light & {
				background: #d5d5d5;
				color: black;
			}
		}
		$names: "scale", "key", "notetype", "scheme";
		@each $s in $names {
			&--#{$s} {
				grid-area: #{$s};
			}
		}

		&--key {
			width: 100%;
			grid-template-areas:
				"label"
				"keywrapper"
			;
			grid-template-columns: 1fr;

			container-type: inline-size;
		
			.input-group__label {
				display: grid;
				grid-area: "keywrapper";
				grid-template-areas: "notecenter";
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
				// min-height: auto;
				aspect-ratio: 1 / 1;
				border-radius: 100%;
			}

			@container ( width >= 300px ) {
				.control-panel__key-wrapper {
					grid-template-columns: repeat(6, 1fr);
				}
			}		
			@container ( width >= 600px ) {
				.control-panel__key-wrapper {
					grid-template-columns: repeat(12, 1fr);
				}
			}
		}
		&--scale {
			select {
				display: block;
				width: 100%;
				// font-size: 1.6rem;
				// padding: .85rem 1rem;
			}
		}
	}

	&__legend {
		&--key {
			grid-area: label;
		}
	}
	&__key-wrapper {
		grid-area: keywrapper;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1.75rem;
	}
	&__tuning-wrapper {
		width: 100%;
		display: flex;
		// display: grid;
		// grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
		// grid-template-rows: 1fr;
		// grid-auto-columns: min-content;
		
	}
}

.tuner-stepper {
	.input-group__stepper {
		grid-template-areas:
			"increase"
			"value"
			"decrease"
		;
	}
}

.input-group {
	&__label, &__input {
		cursor: pointer;
		display: block;
	}
	&__label {
		font-size: 1.2rem;
		padding: .5rem 1rem;
		// border: solid .1rem gray;
		background: var(--disabled-input-color);
		text-align: center;
	}
	&:has(input:checked) &__label {
		background: var(--primary-highlight-color);
	}

	&__stepper {
		width: 100%;
		display: grid;
		grid-template-areas: "decrease value increase";
		grid-template-columns: min-content 1fr min-content;
		justify-items: center;
		align-items: center;
		&-btn--decrease {
			grid-area: decrease;
			height: 100%;
		}
		&-btn--increase {
			grid-area: increase;
			height: 100%;
		}
		&-value {
			grid-area: value;
			padding: 1rem 1rem;
			width: 5rem;
			text-align: center;
			background: var(--primary-highlight-color);
			font-weight: bold;
		}
	}
}



button {
	border-radius: .4rem;
	border: .1rem solid transparent;
	padding: 1rem 2rem;
	font-size: 1.2rem;
	font-weight: bold;
	background-color: var(--disabled-input-color);
	cursor: pointer;
	// transition: border-color 0.25s;
	appearance: none;
	color: var(--app-text-color);
	&:hover {
		// border-color: #646cff;
	}
	&:focus,
	&:focus-visible {
		outline: 4px auto var(--primary-highlight-color);
	}
}



