@use './variables.scss' as *;

.control-panel {
	border-top: solid .1rem gray;
	grid-area: controlPanel; 
	width: 100%;
	font-size: 1.4rem;	
	// padding: 2rem var(--side-container-padding);
	bottom: 0;
	z-index: 1;
	display: grid;
	gap: 3rem;

	// position: sticky;

	@media (width >= $orientation-change) {
		// display: grid;
		// position: relative;
		
		grid-template-areas: 
			"title       title			title      title"
			"scale       tuning         key        key"
			"modifyscale numfrets       scheme     notetype"
			;
		grid-template-columns: 1.5fr 1.5fr 1fr 1fr;

		.control-panel {
			&__tuning {
				grid-area: tuning;
			}
			&__title {
				grid-area: title;
			}
			&__key {
				grid-area: key;
			}
			&__scale {
				grid-area: scale;
			}
			&__modify-scale {
				grid-area: modifyscale;
			}
			&__num-frets {
				grid-area: numfrets;
			}
			&__scheme {
				grid-area: scheme;
			}
			&__notetype {
				grid-area: notetype;
			}
		}
	}
	


	&__title {
		font-weight: bold;
		font-size: 2rem;
		margin: 0;
		padding-top: 2rem;
	}

 
	&__key {
        width: 100%;
        grid-template-areas:
            "legend"
            "keywrapper"
        ;
        container-type: inline-size;
    
        .toggler__label {
            display: grid;
            grid-template-areas: "notecenter";
            width: auto;
			min-width: 5ch;
            height: auto;
			min-height: 5ch;
            padding: 0;
            margin: 0;
            // min-height: auto;
            aspect-ratio: 1 / 1;
            border-radius: 100%;
        }

        // @container ( width >= 420px ) {
        //     .control-panel__key-wrapper {
        //         grid-template-columns: repeat(6, min-content);
        //     }
        // }		
        @container ( width >= 600px ) {
            .control-panel__key-wrapper {
                grid-template-columns: repeat(12, min-content);
            }
        }
    }
	&__key-wrapper {
		width: 100%;
		grid-area: keywrapper;
		display: grid;
		// grid-template-columns: repeat(auto-fill, minmax(var(--min-note-size), 1fr));
		grid-template-columns: repeat(auto-fill, var(--min-note-size));
		grid-template-rows: min-content;
		gap: var(--control-panel-note-gap);
	}
	&__modify-tuning-wrapper {
		display: grid;
		grid-template-columns: min-content 1fr;
		gap: 2rem;
		align-items: center;
	}
	&__tuning-wrapper {
		width: 100%;
		display: grid;
		gap: var(--control-panel-note-gap);
		grid-template-columns: repeat(var(--num-tuners), var(--min-note-size));
	}
	&__tuning-controls {
		display: flex;
		flex-direction: column;
		// height: 100%;
		gap: var(--control-panel-note-gap);
		justify-self: center;
		align-self: center;
		padding: 0;
	}
	&__num-frets {
		display: grid;
		grid-template-areas: "legend content";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		align-items: center;
		.legend {
			grid-area: legend;
			grid-column: 1 / span 1;
			grid-row: 1 / span 1;
		}
		.fieldgroup__content--num-frets {
			grid-area: content;
			margin: 0;
			padding: 0;
			grid-row: 1 / span 1;
		}
		.stepper {
			width: fit-content;
		}
	}
}

.control-panel__tuning-select {
	width: 100%;
	grid-column: 1 / -1;
	grid-row: 1 / 2;
}




