.dropdown {
	appearance: none;
	grid-area: content;

	padding: var(--toggler-select-size);
	background: var(--primary-highlight-dark-color, gray);
	color: white;
	border: none;
	transition: all .25s ease-in-out;
	border-radius: var(--toggler-corner-radius);
	height: min-content;
	font-size: 2rem;

	&:focus, &:focus-visible {
		outline: none;

	}

	&__wrapper {
		width: 100%;
		display: grid;
		grid-column: 1 / -1;
		grid-template-areas: "content";
	}

	&__icon {
		grid-area: content;
		align-self: center;
		justify-self: end;
		margin-right: 1.5rem;
	}

	body.scheme--light & {
		background: #d5d5d5;
		color: black;
	}
}