.dropdown {
	appearance: none;
	display: block;
	width: 100%;
	grid-column: 1 / -1;
	padding: var(--toggler-select-size);
	background: var(--primary-highlight-color, gray);
	color: white;
	border: none;
	transition: all .25s ease-in-out;
	border-radius: var(--toggler-corner-radius);
	height: min-content;
	font-size: 2rem;

	body.scheme--light & {
		background: #d5d5d5;
		color: black;
	}
}