@use './variables.scss' as *;

.fretboard {
	user-select: none;
	
	--note-circle-default-color: #000;
	--fret-wire-color: #525252;
	--fret-wire-highlight-color: white;
	--fret-number-color: var(--fret-wire-color);

	align-self: center;
	justify-self: center;
	width: min(100%, 40rem);
	height: 100%;

	// background: rgba(white, .01);

	display: grid;
	grid-template-columns: repeat( var(--num-strings), 1fr) min-content;
	grid-template-rows: min-content repeat( var(--num-frets), 1fr); 

	grid-area: fretboard;
	justify-content: center;
	align-items: center;

	// view-transition-name: fretboard;

	@media (width >= $orientation-change) {
		width: clamp( 20rem, 100%, 400rem);
		height: clamp( 35rem, 60%, 80rem);

		grid-template-columns: 5ch minmax(5rem, min-content) repeat(calc(var(--num-frets) - 1), minmax(0, 1fr));
		grid-template-rows: repeat( var(--num-strings), minmax(0, 1fr)) minmax(5rem, min-content);

		@media (orientation: portrait) {
			// height: min(100%, 60rem);
			aspect-ratio: 2 / 1;
			height: auto;
		}
	}
}

// ::view-transition-old(fretboard) {
// 	animation-duration: .5s;
// 	animation-name: moveOut;
// }
// ::view-transition-new(fretboard) {
// 	animation-duration: .5s;
// 	animation-name: moveIn;
// }

// @keyframes moveIn {
// 	from { transform: translateX(100%); }
// 	to	 { transform: translateX(0); }
// }
// @keyframes moveOut {
// 	from { transform: translateX(0); }
// 	to	 { transform: translateX(-100%); }
// }



// .frets-wrapper, .fret-numbers-wrapper, .strings-wrapper, .notes-wrapper, .tuning-notes-wrapper {
// 	grid-column: 1 / -1;
// 	grid-row: 1 / -1;
	
// 	display: grid;
// 	grid-template-columns: subgrid;
// 	grid-template-rows: subgrid;
// }


// .tuning-note {
// 	grid-column: calc(var(--string-num) + 1) / span 1;
// 	grid-row: 1 / span 1;

// 	justify-self: center;
// 	align-self: center;

// 	@media (width >= $orientation-change) {
// 		// grid-row: calc(var(--string-num) + 1) / span 1;
// 		grid-row: calc(var(--num-strings) - var(--string-num) ) / span 1;
// 		grid-column: 1 / span 1;
// 	}
// }

// .fret-number, .tuning-note {
// 	font-weight: 600;
// 	font-size: 1.3rem;
// 	.scheme-dark & {
// 		mix-blend-mode: hard-light;
// 		// color: white;
// 		color: rgba(white, .5);
// 	}
// }

// .fret-number {
// 	grid-row: calc(var(--fret-num) + 2) / span 1;
// 	grid-column: -1 / span 1;
// 	align-self: center;
// 	justify-self: center;

// 	@media ($orientation-change <= width) {
// 		grid-column: calc(var(--fret-num) + 2) / span 1;
// 		grid-row: -2 / -1;	
// 		padding-top: 1.5rem;
// 	}
// }

// .fret {
	// align-self: end;
	// grid-row: calc( var(--fret-num) + 2 ) / span 1;
	// grid-column: 1 / -2;

	// width: 100%;
	// height: .2rem;
	
	// background: var(--fret-wire-color);

	// &__number {
	// 	display: none;
	// }

	// &--0, &--12, &--24 {
	// 	.scheme-light & {
	// 		background: var(--primary-dark-text-color);
	// 	}
	// 	.scheme-dark & {
	// 		background: var(--primary-light-text-color);
	// 	}
	// }

	// @media ($orientation-change <= width) {
	// 	width: .2rem;
	// 	height: 100%;
	// 	grid-column: calc(var(--fret-num) + 2) / span 1;
	// 	grid-row: 1 / -2;
	// 	justify-self: end;
	// }
// }


// .string {
	// width: .1rem;
	// height: 100%;
	// align-self: center;
	// justify-self: center;

	// background: gray;
	// grid-column: calc(var(--num-strings) - var(--string-num) + 1) / span 1;
	// grid-row: 3 / -1;

	// @media ($orientation-change <= width) {
		// width: 100%;
		// height: .1rem;
		// grid-column: 3 / -1;
		// grid-row: var(--note-string) / span 1;
	// }
// }


