
:root {
	// font-synthesis: none;
	// text-rendering: optimizeLegibility;

	--primary-highlight-color: white;
	--primary-highlight-dark-color: gray;

	--primary-light-text-color: white;
	--primary-dark-text-color: #111;

	--primary-light-bg-color: #eee;
	--primary-dark-bg-color: #111;

	--toggler-select-size: .25rem .75rem;
	--toggler-corner-radius: .25rem;

	--note-text-size: 1rem;
	--min-note-size: 4rem;
	--control-panel-note-gap: 1rem;
}


html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html:has(.app-main-container.scheme-dark) {
	--app-bg-color: var(--primary-dark-bg-color);
	--app-text-color: var(--primary-light-text-color);
}
html:has(.app-main-container.scheme-light) {
	--app-bg-color: var(--primary-light-bg-color);
	--app-text-color: var(--primary-dark-text-color);
}
html:has(.app-main-container.scheme-dark), .scheme-dark {
	// background: var(--app-bg-color);
	color: var(--app-text-color);

	background: radial-gradient(
		circle at 60% 60%, 
		var(--app-bg-color) 30%, 
		var(--primary-highlight-color) 100%
		);
	background-size: 200% 200%;
	background-position: center;
}

html:has(.app-main-container.scheme-light), .scheme-light {
	color: var(--app-text-color);
	background: var(--app-bg-color);
}


html,
body,
#root {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
}