@use './variables.scss' as *;


.note {
	display: grid;
	grid-template-areas: "notecenter";
	grid-template-columns: 100%;
	grid-template-rows: 100%;

	justify-items: center;
	align-items: center;

	font-size: var(--note-text-size);
	font-weight: bold;
	
	color: white;
	width: 100%;
	height: 100%;

	// view-transition-name: note;
	// animation: pop 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	// animation-delay: calc(.01s * var(--fret-num) * (var(--num-strings) - var(--string-num)) );
	// animation-fill-mode: both;

	&:hover {
		background: rgba(white, .05);
	}

	&__wrapper {
		container-type: size;
		container-name: notewrapper;

		display: flex;
		justify-content: center;
		align-items: center;

		grid-column: calc( var(--string-num) ) / span 1;
		grid-row: calc( var(--fret-num) + 2 ) / span 1;

		@media ($orientation-change <= width) {
			grid-column: calc(var(--fret-num) + 2) / span 1;
			grid-row: calc( var(--num-strings) - var(--string-num) + 1) / span 1;
		}
	}

	&__name, &__degree, &__circle {
		grid-area: notecenter;
		text-align: center;
	}

	&__circle {
		aspect-ratio: 1 / 1;
		border-radius: 100%;
		width: 75%;
		height: auto;
		
		@container notewrapper (orientation: landscape) {
			height: 75%;
			width: auto;
		}
	}

	&--in-scale &__circle {
		background: var(--note-circle-default-color);
	}

	&--root &__circle {
		background: #aaa;
		background: var(--primary-highlight-color);
	}

	&:not(.note--in-scale) &__name {
		display: none;
	}

	.fretboard--degrees &__name {
		display: none;
	}
	.fretboard--notes &__degree {
		display: none;
	}
}

// show root note name in degree mode
.fretboard--degrees .note--root { 
	.note__name {
		display: block;
	}
	.note__degree {
		display: none;
	}
}


@keyframes pop {
	from { scale: 0 }
	to { scale: 1 }
}


// ::view-transition-old(.notewrapper) {
// 	animation-duration: 2s;
// }
// ::view-transition-new(.notewrapper) {
// 	animation-duration: 2s;
// }
