
.play-pause__svg {
	width: 60%;
	height: auto;
	transition: transform .25s ease-in-out;
}

$time: .25s;
.play-pause {
	&__play-shape {
		transform: scale(5);
		transition: transform $time ease-in-out;
		transform-origin: center center;
	}
	&__bar {
		transition: transform $time ease-in-out, fill $time ease-in-out;
		transform-origin: center center;
		tranform-box: fill-box;
		fill: var(--primary-dark-bg-color);
		&--left {
			transform: scale(1, 1) translateX(0%);
		}
		&--right {
			transform: scale(1, 1) translateX(0%);
		}
	}
}

.play-pause__svg--paused {
	.play-pause__play-shape {
		transform: scale(1);
	}
	.play-pause__bar {
		&--left {
			transform: scale(1.85, 1.3) translateX(16%);
		}
		&--right {
			transform: scale(2, 1) translateX(-10%);
		}
	}
}