.sharp-flat {
	&__wrapper {
		grid-area: notecenter;
		// width: 100%;
		// height: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;

		--amount: 45%;
	}
	&__sharp, &__flat, &__line {
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		font-size: 1rem;
		font-weight: 800;
	}
	
	&__flat {
		transform: translate(
			var(--amount), 
			var(--amount)
		);
	}
	&__sharp {
		transform: translate(
			calc(-1 * var(--amount)), 
			calc(-1 * var(--amount))
		);
	}
	&__line {
		margin-top: 50%;
		margin-left: -50%;
		width: 200%;
		height: 0;
		border-bottom: solid .15rem rgba(white, .3);
		rotate: -50deg;
	}
}