@tailwind base;
@tailwind components;
@tailwind utilities;

@import './global.scss';

@layer base {

	legend {
		@apply float-left;
	}
	button  {
		@apply rounded-md px-2 py-0.5 text-sm;
	}
}


@layer components {

	.app-main-container {
		--disabled-input-color: #252525;
		--side-container-padding: 0;
	}

	.fretboard {
		--note-circle-default-color: #000;
		--fret-wire-color: #525252;
		--fret-wire-highlight-color: white;
		--fret-number-color: var(--fret-wire-color);
	}
	.note__wrapper {
		container-type: size;
		container-name: notewrapper;
	}
	.note__circle {
		@apply w-[60%] h-auto;

		@container notewrapper (orientation: landscape) {
			@apply h-[70%] w-auto;
		}
	}
}


