.tuner {
	position: relative;
	.stepper {
		grid-template-areas:
			"increase"
			"value"
			"decrease"
		;
		&__value {
			border-radius: 100%;
			aspect-ratio: 1 / 1;
			font-size: var(--note-text-size);
			padding: unset;
			width: var(--min-note-size);
			height: auto;
			background: black;
		}
		&__btn {
			background: transparent;
			font-weight: bold;
			padding: 1rem;
			.scheme-light & {
				color: var(--primary-dark-text-color);
			}
			.scheme-dark & {
				color: var(--primary-light-text-color);
			}
		}
	}
	&__remove-btn {
		background: black;
		border-radius: 100%;
		aspect-ratio: 1 / 1;
		position: absolute;
		top: 25%;
		right: 0;
		padding: unset;
		width: 40%;
		height: auto;
		border: solid gray .1rem ;
	}
}

