
.tuner {
	position: relative;
	transform-origin: center center;
	view-transition-class: tuner;

	&__remove-btn {
		background: transparent;
		grid-column: 1 / -1;
		grid-row: 1 / -1;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		text-align: center;
		transform-origin: center;
		animation: scaleIn .5s cubic-bezier(0.075, 0.82, 0.165, 1);

		&:focus, &:focus-visible {
			outline: none;
		}
	}
	&__remove-btn-circle {
		background: var(--primary-highlight-color);
		border-radius: 100%;
		aspect-ratio: 1 / 1;
		position: absolute;
		top: 25%;
		right: 0;
		padding: unset;
		width: 40%;
		height: auto;
	}
	&--empty {
		width: var(--min-note-size);
		height: auto;
		border-radius: 100%;
		aspect-ratio: 1 / 1;
		border: solid .1rem rgba(white, .25);
		align-self: center;
	}

	.stepper {
		grid-template-areas:
			"increase"
			"value"
			"decrease"
		;
		&__value {
			border-radius: 100%;
			aspect-ratio: 1 / 1;
			font-size: var(--note-text-size);
			padding: unset;
			width: var(--min-note-size);
			height: auto;
			background: black;
		}
		&__btn {
			background: transparent;
			font-weight: bold;
			padding: 1rem;
			.scheme-light & {
				color: var(--primary-dark-text-color);
			}
			.scheme-dark & {
				color: var(--primary-light-text-color);
			}
		}
	}
}

::view-transition-group(.tuner) {
	animation-duration: .25s;
}

@keyframes scaleIn {
	from { scale: 0}
	to { scale: 1}
}
